body {background-color: #2A8E37;}

/*
@media (max-height: 600px) {
  #dealer1 {
    position: relative;
  }
}
*/
/*
@media (min-width: 492px) {
  #navbarSupportedContent {
    display: inline !important;
  }
}
*/

.dcard {
  transition: transform 1s;
  transform-style: preserve-3d;
}

.dcard.is-flipped {
  transform: rotateY(180deg);
}


.carddeal {
  transition: transform 1s;
  transform-style: preserve-3d;
}

.carddeal.is-flipped {
  transform: rotateY(180deg);
}

#main {
  width: 100%;
  height: 90%;
  /*position: relative;*/
  display: block;
  overflow: hidden;
}


#dealer1.carddeal{
  margin-top: 7%;
  margin-left: 40%;
  position: absolute;
}

#dealer2.carddeal{
  margin-top: 7%;
  margin-left: 42%;
  position: absolute;
  
  /*
  left: 50%;
  margin-top: -150px;
  margin-left: -50px;
  position: absolute;
  top: 50%;
  */
}

/*
#usercard1.usercard{
  left: 50%;
  margin-top: 50px;
  margin-left: -50px;
  position: absolute;
  top: 50%;
}

#usercard2.usercard{
  left: 50%;
  margin-top: 50px;
  margin-left: -90px;
  position: absolute;
  top: 50%;
}
*/

#card1.cardFront{
  margin-top: 3%;
  margin-left: 76%;
  position: absolute;
}

#card2.cardFront{
  margin-top: 3%;
  margin-left: 74.5%;
  position: absolute;
}

#card3.cardFront{
  margin-top: 3%;
  margin-left: 73%;
  position: absolute;

  /*
  left: 50%;
  margin-top: -200px;
  margin-left: 220px;
  position: absolute;
  top: 50%;
  */
}

#dealbtn{
  margin-top: 31%;
  margin-left: 150px;
  position: absolute;
  padding: 6px 20px;
  border-radius: 5px;
  outline:none;
}

#hitbtn{
  margin-top: 36%;
  margin-left: 150px;
  position: absolute;
  padding: 6px 25.5px;
  border-radius: 5px;
  outline:none;
}

#standbtn{
  margin-top: 41%;
  margin-left: 150px;
  position: absolute;
  padding: 6px 16px;
  border-radius: 5px;
  outline:none;
}



#uparrow {
  background-color: #3390c1; /* Blue background */
  border: none; /* Remove borders */
  color: white; /* White text */
  padding: 9px 12px; /* Some padding */
  font-size: 16px; /* Set a font size */
  cursor: pointer; /* Mouse pointer on hover */
  margin-top: 15.3%;
  margin-left: 100px;
  border-radius: 5px;
  position: absolute;
  outline: none;
  box-shadow: 2px 2px #222;
}

#uparrow:active {
  background-color: #3e8e41;
  box-shadow: 1px 1px #666;
  transform: translate(2px,2px);
  outline: none;
}

/* Darker background on mouse-over */
#uparrow:hover {
  background-color: #2f84b1;
  outline: none;
}


#downarrow {
  background-color: #ea2b1f; /* Blue background */
  border: none; /* Remove borders */
  color: white; /* White text */
  padding: 9px 12px; /* Some padding */
  font-size: 16px; /* Set a font size */
  cursor: pointer; /* Mouse pointer on hover */
  margin-top: 15.3%;
  margin-left: -60px;
  border-radius: 5px;
  position: absolute;
  outline: none;
  box-shadow: 2px 2px #222;
}

#downarrow:active {
  background-color: #3e8e41;
  box-shadow: 1px 1px #666;
  transform: translate(2px,2px);
  outline: none;
}

/* Darker background on mouse-over */
#downarrow:hover {
  background-color: #e02215;
  outline: none;
}

#betnum {
  margin-top: 23%;
  margin-left: 6px;
  width: 75px;
  position: absolute;
  font-family: 'Bangers', cursive;
  color: white;
  font-size: 30px;

}

#bet {
  margin-top: 14%;
  margin-left: -74px;
  font-family: 'Merriweather', serif;
  font-size: 30px;
  font-weight: 600;
  background-color: #216e2b;
  width: 220px;
  height: 100px;
  text-align: center;
  border-radius: 5px;
  position: absolute;
  color: white;
  border-style: solid;
  border-width: 3px;
  border-color: black;
  box-shadow:2px 2px 5px #333333;
}


#balancebox {
  margin-top: 80%;
  margin-left: 85%;
  width: 15%;
  height: 0%;
  position: absolute;
}

/*
#balance {
  width: 75px;
  position: fixed;
  left: 80%;
  top: 90%;
}
*/

#balancenum {
  position: fixed;
  bottom: -1px;
  right: 15px;
  font-weight: 600;
  font-size: 20px;
  border-style: solid;
  border-color: black;
  border-width: 3px;
  border-radius: 8px;
  padding: 4px;
  padding-left: 8px;
  padding-right: 8px;
  font-family: 'Merriweather', serif;
  color: white;
  background-color: #216e2b;
}

#betbox {

  width: 50%;
  height: 50%;
  margin-left: 15%;
  
  position: absolute;
}


#result{
  position: absolute;
  margin-top: 24%;
  margin-left: -2%;
  border: black;
  border: black;
  border-style: double;
  border-width: 6px;
  border-radius: 7px;
  padding: 0px 45% 0px 45%;
  font-size: 26px;
  font-family: "Bangers",cursive;
  overflow: hidden;
  display: none;
  word-wrap: break-word;
  height: 49px;
  width: max-content;

  animation-name: none;
  animation-play-state: paused;
  animation-duration: 2s;
  animation-timing-function: linear;

}


/*
@keyframes dealdown {
  0%   {left: 50%; margin-top: -200px; margin-left: 220px; top: 50%; opacity: 100%;}
  50%  {left: 50%; margin-top: -175px; margin-left: 105px; top: 50%; opacity: 25%;}
  100% {left: 50%; margin-top: -150px; margin-left: -10px; top: 50%; opacity: 0%;}
}
*/

/*
@keyframes dealing {
  0%   {position: absolute; left: var(--initleftpos); top: var(--inittoppos); opacity: 0%;}
  50%  {opacity: 85%;}
  100% {position: absolute; left: var(--endleftpos); top: 0; opacity: 100%;}
}
*/
/*
@keyframes dealing {
  0%   {position: absolute; margin-left: var(--initleftpos); margin-top: var(--inittoppos); opacity: 0%;}
  50%  {opacity: 85%;}
  100% {position: absolute; margin-left: var(--endleftpos); margin-top: var(--endtoppos); opacity: 100%;}
}
*/

/*
@keyframes dealup {
  0%   {left: 50%; margin-top: -200px; margin-left: 220px; top: 50%; opacity: 0%;}
  50%  {left: 50%; margin-top: -175px; margin-left: 105px; top: 50%; opacity: 85%;}
  100% {left: 50%; margin-top: -150px; margin-left: -10px; top: 50%; opacity: 100%;}
}
*/

/*
@keyframes dealing {
  0%   {margin-top: 0px; margin-left: 70px; opacity: 0%;}
  50%  {left: 0px; margin-top: 0px; margin-left: 50px; top: -50%; opacity: 85%;}
  100% {left: 200px; margin-top: 0px; margin-left: -20px; top: -50%; opacity: 100%;}
}
*/


@keyframes dealing {
  0%   {margin-top: 5%; margin-left: 73%; opacity: 0%; transform: rotateY( 180deg ); backface-visibility: hidden;}
  50%  {opacity: 100%;}
  100% {margin-top: 7%; margin-left: var(--endleftpos); opacity: 100%;}
}

@keyframes dealingback {
  0%   {margin-top: 5%; margin-left: 73%; opacity: 100%; transform: rotateY( 180deg );}
  50%  {opacity: 100%;}
  100% {margin-top: 7%; margin-left: var(--endleftpos); opacity: 0%; display: none}
}


@keyframes dealingdealer {
  0%   {margin-top: 7%; margin-left: var(--endingpos); opacity: 0%; transform: rotateY( 180deg ); backface-visibility: hidden;}
  50%  {opacity: 100%;}
  100% {margin-top: 7%; margin-left: var(--endingpos); opacity: 100%;}
}

@keyframes dealingbackdealer {
  0%   {opacity: 100%; transform: rotateY( 180deg );}
  50%  {opacity: 100%;}
  100% {opacity: 100%;}
}


@keyframes dealinguser {
  0%   {margin-top: 5%; margin-left: 73%; opacity: 100%; transform: rotateY( 180deg ); backface-visibility: hidden;}
  50%  {opacity: 100%;}
  100% {padding-top: 0%; margin-top: 30%; margin-left: var(--endleftpos); opacity: 100%;}
}

@keyframes dealingbackuser {
  0%   {margin-top: 5%; margin-left: 73%; opacity: 100%; transform: rotateY( 180deg );}
  50%  {opacity: 100%;}
  100% {margin-top: 30%; margin-left: var(--endleftpos); opacity: 0%}
}


@keyframes scrollmarquee {
  0% {margin-left: -1600px; opacity: 0%}
  25% {opacity: 100%;}
  50% {opacity: 100%;}
  75% {opacity: 100%;}
  100% {margin-left: -1300px; opacity: 0%;}
}


@media only screen and (max-width: 1024px) {
  @keyframes dealinguser {
    0%   {margin-top: 5%; margin-left: 73%; opacity: 0%; transform: rotateY( 180deg ); backface-visibility: hidden;}
    50%  {opacity: 100%;}
    100% {padding-top: 300px; margin-left: var(--endleftpos); opacity: 100%;}
  }

  @keyframes dealingbackuser {
    0%   {margin-top: 5%; margin-left: 73%; opacity: 100%; transform: rotateY( 180deg );}
    50%  {opacity: 100%;}
    100% {padding-top: 300px; margin-left: var(--endleftpos); opacity: 0%}
  }

  #dealbtn{
    margin-top: 320px;
    margin-left: 15%;
    position: absolute;
    padding: 6px 20px;
  }
  
  #hitbtn{
    margin-top: 370px;
    margin-left: 15%;
    position: absolute;
    padding: 6px 25.5px;
  }
  
  #standbtn{
    margin-top: 420px;
    margin-left: 15%;
    position: absolute;
    padding: 6px 16px;
  }

  #uparrow {
    margin-top: 79px;
  }

  #downarrow {
    margin-top: 79px;
  }

  #bet{
    margin-top: 72px;
  }

  #betnum {
    margin-top: 119px;
  }

  #betbox {
    margin-left: 15%;
  }

  #result {
    margin-top: 245px;
  }

}

@media only screen and (min-width: 1100px) {
  @keyframes dealinguser {
    0%   {margin-top: 30px; margin-left: 73%; opacity: 0%; transform: rotateY( 180deg ); backface-visibility: hidden;}
    50%  {opacity: 100%;}
    100% {padding-top: 325px; margin-left: var(--endleftpos); opacity: 100%;}
  }

  @keyframes dealingbackuser {
    0%   {margin-top: 30px; margin-left: 73%; opacity: 100%; transform: rotateY( 180deg );}
    50%  {opacity: 100%;}
    100% {padding-top: 325px; margin-left: var(--endleftpos); opacity: 0%}
  }

  #dealbtn{
    margin-top: 340px;
    margin-left: 15%;
    position: absolute;
    padding: 6px 20px;
  }
  
  #hitbtn{
    margin-top: 390px;
    margin-left: 15%;
    position: absolute;
    padding: 6px 25.5px;
  }
  
  #standbtn{
    margin-top: 440px;
    margin-left: 15%;
    position: absolute;
    padding: 6px 16px;
  }


  #uparrow {
    margin-top: 82px;
  }

  #downarrow {
    margin-top: 82px;
  }

  #bet{
    margin-top: 74px;
  }

  #betnum {
    margin-top: 122px;
  }

  
  #betbox {
    margin-left: 15%;
  }


  #dealer1.carddeal{
    margin-top: 80px;
  }
  
  #dealer2.carddeal{
    margin-top: 80px;
  }


  #result {
    margin-top: 270px;
  }


  #card1.cardFront{
    margin-top: 30px;
    margin-left: 76%;
    position: absolute;
  }
  
  #card2.cardFront{
    margin-top: 30px;
    margin-left: 74.5%;
    position: absolute;
  }
  
  #card3.cardFront{
    margin-top: 30px;
    margin-left: 73%;
    position: absolute;
  }


  @keyframes dealingdealer {
    0%   {margin-top: 80px; margin-left: var(--endingpos); opacity: 0%; transform: rotateY( 180deg ); backface-visibility: hidden;}
    50%  {opacity: 100%;}
    100% {margin-top: 80px; margin-left: var(--endingpos); opacity: 100%;}
  }

  @keyframes dealing {
    0%   {margin-top: 30px; margin-left: 73%; opacity: 0%; transform: rotateY( 180deg ); backface-visibility: hidden;}
    50%  {opacity: 100%;}
    100% {margin-top: 80px; margin-left: var(--endleftpos); opacity: 100%;}
  }

  @keyframes dealingback {
    0%   {margin-top: 30px; margin-left: 73%; opacity: 100%; transform: rotateY( 180deg );}
    50%  {opacity: 100%;}
    100% {margin-top: 80px; margin-left: var(--endleftpos); opacity: 0%; display: none}
  }

}

@media only screen and (max-width: 800px) {
  #dealer1.carddeal{
    margin-top: 55px;
  }
  
  #dealer2.carddeal{
    margin-top: 55px;
  }
  

  @keyframes dealingdealer {
    0%   {margin-top: 55px; margin-left: var(--endingpos); opacity: 0%; transform: rotateY( 180deg ); backface-visibility: hidden;}
    50%  {opacity: 100%;}
    100% {margin-top: 55px; margin-left: var(--endingpos); opacity: 100%;}
  }

  @keyframes dealing {
    0%   {margin-top: 5%; margin-left: 73%; opacity: 0%; transform: rotateY( 180deg ); backface-visibility: hidden;}
    50%  {opacity: 100%;}
    100% {margin-top: 55px; margin-left: var(--endleftpos); opacity: 100%;}
  }

  @keyframes dealingback {
    0%   {margin-top: 5%; margin-left: 73%; opacity: 100%; transform: rotateY( 180deg );}
    50%  {opacity: 100%;}
    100% {margin-top: 55px; margin-left: var(--endleftpos); opacity: 0%; display: none}
  }

}

@media only screen and (max-width: 650px) {
  #card1.cardFront{
    margin-top: 20px;
    margin-left: 76%;
    position: absolute;
  }
  
  #card2.cardFront{
    margin-top: 20px;
    margin-left: 74.5%;
    position: absolute;
  }
  
  #card3.cardFront{
    margin-top: 20px;
    margin-left: 73%;
    position: absolute;
  }
}


/*
500, 490, 480
*/




/* The element to apply the animation to */
/*
#movecarddown.cardFront {
  margin-top: 5%;
  margin-left: 73%;
  position: absolute;

  animation-name: dealdown;
  animation-duration: 0.5s;
  animation-play-state: paused;
  animation-fill-mode: backwards;
  animation-timing-function: linear;
}
*/
/*
#movecardup.cardFront {
  margin-top: 5%;
  margin-left: 73%;
  position: absolute;

  animation-name: dealup;
  animation-duration: 0.5s;
  animation-play-state: paused;
  animation-fill-mode: forwards;
  animation-timing-function: linear;
}
*/

/*
#div {
  width: 600;
  height: 1000;
  left: 400px;
  top: 142px;
  position: absolute;
}

#thing {
  left: 50%;
  margin-top: -150px;
  margin-left: -50px;
  position: relative;
  top: 30.5%;
  width: 600;
  height: 1000;
}
*/

/*
.dealbtn{
  left: 50%;
  margin-top: 70px;
  margin-left: 150px;
  position: absolute;
  top: 50%;
  padding: 6px 20px;
}

.hitbtn{
  left: 50%;
  margin-top: 120px;
  margin-left: 150px;
  position: absolute;
  top: 50%;
  padding: 6px 25.5px;
}

.standbtn{
  left: 50%;
  margin-top: 170px;
  margin-left: 150px;
  position: absolute;
  top: 50%;
  padding: 6px 16px;
}

*/

/*
#dealbtn{
  margin-top: 33%;
  margin-left: 150px;
  position: absolute;
  padding: 6px 20px;
}

#hitbtn{
  margin-top: 33%;
  margin-left: 62%;
  position: absolute;
  padding: 6px 25.5px;
}

#standbtn{
  margin-top: 39%;
  margin-left: 62%;
  position: absolute;
  padding: 6px 16px;
}

*/



/*
.arrow {
  border: solid black;
  border-width: 0 3px 3px 0;
  display: inline-block;
  padding: 3px;
}
*/


/*
.dealtcards{
  margin-top: 5%;
  margin-left: 73%;
  position: absolute;
}
*/
